[submodule "third_party/nanobind"]
	path = third_party/nanobind
	url = https://github.com/wjakob/nanobind
[submodule "third_party/abseil-cpp"]
	path = third_party/abseil-cpp
	url = https://github.com/abseil/abseil-cpp.git
[submodule "third_party/cmake-defaults"]
	path = third_party/cmake-defaults
	url = https://github.com/mitsuba-renderer/cmake-defaults
